{% extends 'patient/base.html' %}
{% load static %}
{% block title %} {{ user.first_name }} Appointment{% endblock %}
{% block content %}

<!-- Page Content -->
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">

				<div class="card">
					<div class="card-body">
						<div class="success-cont">
							<i class="fas fa-check"></i>
							<h3>{{ mesasge.success }}</h3>
							<p>Appointment booked with <strong>Dr. {{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }}</strong><br> on <strong>{{ appointment.appointment_on.date }} {{ appointment.appointment_on.start_time }}</strong></p>
							<!-- <a href="" class="btn btn-primary view-inv-btn">View Invoice</a> -->
							<!-- invoice-view.html -->
						</div>
					</div>
				</div>
				<!-- /Success Card -->

			</div>
		</div>

	</div>
</div>
<!-- /Page Content -->
{% endblock %}