{% extends 'patient/base.html' %}
{% load static %}
{% block title %} {{ user.first_name }}'s: Settings{% endblock %}
{% block content %}

			
			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<!-- Doctor Widget -->
					<div class="card">
						<div class="card-body">
							<div class="doctor-widget">
								<div class="doc-info-left">
									<div class="doctor-img">
										<img class="img-fluid" 
										{% if doctor.user.profile_pic %}
										src="{{ doctor.user.profile_pic.url }}" 
										{% else %}
										{% if doctor.user.gender == 'M' %}
										src="{% static 'images/doctor/doc.png' %}"
										{% else %}
										src="{% static 'images/doctor/fdoc.png' %}"
										{% endif %}
										{% endif %}
										alt="User Image">
									</div>
									<div class="doc-info-cont">
										<h4 class="doc-name">{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h4>
										<p class="doc-speciality">{{ doctor.qualification }}</p>
										<p class="doc-department">
										{% if doctor.department.dep_image %}
										<img src="{{ doctor.department.dep_image.url }}" class="img-fluid" alt="Speciality">{{ doctor.department }}</p>
										{% endif %}
										<div class="clinic-details">
										</div>
										<div class="clinic-services">
										</div>
									</div>
								</div>
								<div class="doc-info-right">
								<div class="clini-infos">
									<ul>
										<li><i class="fas fa-map-marker-alt"></i>{{ doctor.user.city }}, {{ doctor.user.state }}</li>
										<li><i class="far fa-money-bill-alt"></i> ₹ {{ doctor.consult_fees }} </li>
									</ul>
								</div>
									<div class="clinic-booking">
										<a class="apt-btn" href="{% url 'appointment_doc' doctor.id %}">Book Appointment</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->
				</div>
			</div>		
			<!-- /Page Content -->
{% endblock %}