{% extends 'base.html' %}

{% load static %}
{% block title %}
Forgot Password
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div class="main-wrapper login-body">
	<div class="login-wrapper">
		<div class="container">
			<div class="loginbox">
				<div class="login-left">
					<h1>Forgot Password?</h1>
					<img class="img-fluid" src="{% static '/images/logo-white.png' %}" alt="Logo">
				</div>
				<div class="login-right">
					<div class="login-right-wrap">
						<p class="account-subtitle text-white">Enter your email to get a password reset link</p>
						<!-- Form -->
						<form action="">
							<div class="form-group">
								<input class="form-control" type="email" placeholder="Email">
							</div>
							<div class="form-group mb-0">
								<button class="btn btn-primary btn-block" type="submit">Reset Password</button>
							</div>
						</form>
						<!-- /Form -->

						<div class="text-center dont-have text-white">Remember your password? <a
								href="{% url 'patient_dashboard' %}" class="text-warning">Login</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->
{% endblock %}