{% extends 'patient/base.html' %}
{% load static %}
{% block title %} {{ user.first_name }}'s: Dashboard{% endblock %}
{% block content %}

			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						{% include 'patient/sidebar.html' %}
						<div class="col-md-7 col-lg-8 col-xl-9">
							{% for message in messages %}
						<div class="container container-fluid w-min">
						{% if message.tags == 'error' %}
						<div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
							<strong>{{ message }}</strong>
							<a class="close" href="#" data-dismiss="alert">×</a>
						</div>
						{% endif %}
						{% if message.tags == 'success' %}
							<div class="text-center alert alert-success alert-dismissible fade show" role="alert">
								<strong>{{ message }}</strong>
							<a class="close" href="#" data-dismiss="alert">×</a>
							</div>
						{% endif %}
						</div>
						{% endfor %}
							<div class="card">
								<div class="card-body pt-0">
									<!-- Tab Menu -->
									<nav class="user-tabs mb-4">
										<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
											<li class="nav-item">
												<a class="nav-link active" href="#pat_appointments" data-toggle="tab">Appointments</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#pat_medical_records" data-toggle="tab"><span class="med-records">Medical Records</span></a>
											</li>
										</ul>
									</nav>
									<!-- /Tab Menu -->
									<!-- Tab Content -->
									<div class="tab-content pt-0">
										<!-- Appointment Tab -->
										<div id="pat_appointments" class="tab-pane fade show active">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Doctor</th>
																	<th>Appt Date</th>
																	<th>Booking Date</th>
																	<th>Booking Fees</th>
																	<!-- <th>Follow Up</th> -->
																	<th>Status</th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																{% for app in appointments %}
																<tr>
																	<td>
																		<h2 class="table-avatar">
																			<a href="" class="avatar avatar-sm mr-2">
																				<img class="avatar-img rounded-circle"
																				{% if app.doctor.user.profile_pic %}
																				src="{{ app.doctor.user.profile_pic.url }}"
																				{% else %}
																				{% if app.doctor.user.gender == 'M' %}
																				src="{% static 'images/doctors/doc.png' %}"
																				{% else %}
																				src="{% static 'images/profiles/fdoc.png' %}"
																				{% endif %}
																				{% endif %}
																				alt="User Image">
																			</a>
																			<a href="">{{ app.doctor }} <span>{{ app.doctor.department }}</span></a>
																		</h2>
																	</td>
																	<td>{{ app.appointment_on.date }}<span class="d-block text-info">
																		{{ app.appointment_on.start_time }}</span></td>
																	<td>{{ app.created_at.date }} <span class="small">{{ app.created_at.time }}</span> </td>
																	<td>₹ {{ app.appointment_fees }}</td>
																	<!-- <td>16 Nov 2019</td> -->
																	<td>
																		{% if app.status == 'SH' %}
																		<i class="fa-solid fa-calendar-day text-info"></i> Scheduled 
																		{% elif app.status == 'RP' %}
																		<i class="fa-solid fa-file-medical text-warning"></i> Reported
																		{% elif app.status == 'CO' %}
																		<i class="fa-solid fa-calendar-check text-success"></i> Completed
																		{% elif app.status == 'CA' %}
																		<i class="fa-solid fa-calendar-check text-danger"></i> Cancelled
																		{% elif app.status == 'NS' %}
																		<i class="fa-solid fa-calendar-check text-muted"></i> No Show
																		{% endif %}
																	</td>
																	<td class="text-right">
																		<div class="table-action">
																			<a href="" class="btn btn-sm bg-primary-light">
																				<i class="fas fa-print"></i> Print
																			</a>
																			<a href="{% url 'view_pat_bill' %}" class="btn btn-sm bg-info-light">
																				<i class="far fa-eye"></i> View
																			</a>
																		</div>
																	</td>
																</tr>
																{% empty %}
																<tr>
																	<td colspan="7" class="text-muted text-center">You have no appointments so far</td>
																</tr>
																{% endfor %}
															</tbody>
														</table>
														<nav>
															<ul class="pagination mt-2">
																{% if appointments.has_previous %}
																	<li class="page-item">
																		<a class="page-link" href="?page=1">First</a>
																	</li>
																	<li class="page-item">
																		<a class="page-link" href="?page={{ appointments.previous_page_number }}">Previous</a>
																	</li>
																{% endif %}
														
																<li class="page-item active">
																	<span class="page-link">Page {{ appointments.number }} of {{ appointments.paginator.num_pages }}</span>
																</li>
														
																{% if appointments.has_next %}
																	<li class="page-item">
																		<a class="page-link" href="?page={{ appointments.next_page_number }}">Next</a>
																	</li>
																	<li class="page-item">
																		<a class="page-link" href="?page={{ appointments.paginator.num_pages }}">Last</a>
																	</li>
																{% endif %}
															</ul>
														</nav>
													</div>
												</div>
											</div>
										</div>
										<!-- /Appointment Tab -->
										<!-- Medical Records Tab -->
										<div id="pat_medical_records" class="tab-pane fade">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Appointment Number</th>
																	<th>Date </th>
																	<th>Department</th>
																	<th>Created</th>
																	<th></th>
																</tr>     
															</thead>
															<tbody>
																{% for record in mrecords %}
																<tr>
																	<td><a href="javascript:void(0);">{{ record.appointment.appointment_number }}</a></td>
																	<td>{{ record.appointment.appointment_on.date }}</td>
																	<td>{{ record.appointment.doctor.department.name }}</td>
																	<td>
																		<h2 class="table-avatar">
																			<a href="doctor-profile.html">
																				Dr. {{ record.appointment.doctor.user.first_name }}
																				 {{ record.appointment.doctor.user.last_name }}
																			</a>
																		</h2>
																	</td>
																	<td class="text-right">
																		<div class="table-action">
																			<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
																				<i class="far fa-eye"></i> View
																			</a>
																			<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
																				<i class="fas fa-print"></i> Print
																			</a>
																		</div>
																	</td>
																</tr>
																{% empty %}
																<tr>
																	<td colspan="5" class="text-center text-muted">No Medical Records</td>
																</tr>
																{% endfor %}
															</tbody>  	
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Medical Records Tab -->
									</div>
									<!-- Tab Content -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
			<!-- /Page Content -->
{% endblock %}