{% load static %}
<!-- Profile Sidebar -->
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    <img
                    {% if user.profile_pic %}
                    src="{{ user.profile_pic.url }}"
                    {% else %}
                    {% if user.gender == 'M' %}
                    src="{% static 'images/profiles/male.jpg' %}"
                    {% else %}
                    src="{% static 'images/profiles/female.jpg' %}"
                    {% endif %}
                    {% endif %}
                    alt="user image">
                </a>
                <div class="profile-det-info">
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                    <div class="patient-details">
                        <h5><i class="fas fa-birthday-cake"></i> {{ user.date_of_birth }}</h5>
                        <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{ user.city }}, {{ user.state }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li {% if request.path == '/patient/' %} class="active" {% endif %}>
                        <a href="{% url 'patient_dashboard' %}">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <!-- <li>
                <a href="favourites.html">
                    <i class="fas fa-bookmark"></i>
                    <span>Favourites</span>
                </a>
            </li> -->
                    <!-- <li>
                <a href="chat.html">
                    <i class="fas fa-comments"></i>
                    <span>Message</span>
                    <small class="unread-msg">23</small>
                </a>
            </li> -->
                    <li {% if request.path == '/patient/profile/' %} class="active" {% endif %}>
                        <a href="{% url 'patient_profile' %}">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li {% if request.path == '/patient/reset_password/' %} class="active" {% endif %}>
                        <a href="{% url 'pat_change_password' %}">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- / Profile Sidebar -->
