{% extends 'base.html' %}

{% load static %}
{% block title %}
My Transactions
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div class="main-wrapper">

	{% include 'patient/sidebar.html' %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Transactions</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'patient_dashboard' %}">Dashboard</a></li>
							<li class="breadcrumb-item active">Transactions</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Invoice Number</th>
											<td>Invoice Date</td>
											<th>Doctor Name</th>
											<th>Department</th>
											<th>Total Amount</th>
											<th class="text-center">Status</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><a href="invoice.html">#IN0001</a></td>
											<td>10/10/2024</td>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'admin_profile' %}" class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'images/patients/patient1.jpg' %}" alt="Doctor Image"></a>
													<a href="{% url 'admin_profile' %}">Charlene Reed </a>
												</h2>
											</td>
											<td>₹100.00</td>
											<td class="text-center">
												<span class="badge badge-pill bg-success inv-badge">Paid</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Wrapper -->
	{% endblock %}