<footer class="content-2 text-secondary">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="row">
                <div class="text-start">
                    <h2 class="text-sm footer">Contact Details</h2>
                    <div class="text-left">
                        <span>Smart Hospitals</span>
                        <br>
                        <span class="fa fa-map-marker pe-4"></span>
                        <span>Trivandrum, Kerala, India</span>
                        <br>
                        <span class="fa fa-phone pe-4"></span>
                        <span>+919074647199</span>
                        <br>
                        <span class="fa fa-envelope-o pe-4"></span>
                        <span>info@smarthospitals.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12 ">
            <div class="row mb-2">
                <h2 class="">Quick Links</h2>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a class="px-3 link-2" href="{% url 'home' %}" class="">Home</a>
                    <a class="px-3 link-2" href="{% url 'about' %}">About Us</a>
                    <a class="px-3 link-2" href="{% url 'departments' %}">Departments</a>
                    <a class="px-3 link-2" href="{% url 'doctors' %}">Doctors</a>
                    <a class="px-3 link-2" href="{% url 'services' %}">Services</a>
                    <a class="px-3 link-2" href="{% url 'contact' %}" name="Contact">Contact</a>
                    <a class="px-3 link-2" href="{% url 'webappointment' %}" name="Sitemap">Appointment</a>
                    <a class="px-3 link-2" href="intranet.html" >Intranet</a>
                </div>
            </div>
        </div>
    </div>
</footer>