{% extends 'staff/base.html' %}

{% load static %}
{% block title %}
Appointments
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div class="main-wrapper">

	{% include 'staff/sidebar.html' %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-7">
						<h3 class="page-title">Today's Appointments</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'staff_dashboard' %}">Dashboard</a></li>
							<li class="breadcrumb-item active">Appointments</li>
						</ul>
					</div>
					<div class="col-sm-5 col">
						<a href="#Add_Appointment_details" data-toggle="modal"
							class="btn btn-primary float-right mt-2">Add</a>
					</div>
				</div>
			</div>
			<!-- /Page Header -->
			<div class="row">
				<div class="col-md-12">
					{% for message in messages %}
					<div class="alert alert-success">
						<a class="close" href="#" data-dismiss="alert">×</a>
						{{ message }}
					</div>
					{% endfor %}
					<!-- Appointments  -->
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Doctor Name</th>
											<th>Speciality</th>
											<th>Patient Name</th>
											<th>Apointment Time</th>
											<th>Status</th>
											<th class="text-right">Amount</th>
										</tr>
									</thead>
									<tbody>
										{% for appointment in appointments %}
										<tr>
											<td>
												<h2 class="table-avatar">
													<a href=""
														class="avatar avatar-sm mr-2">
														<img class="avatar-img rounded-circle"
														{% if appointment.doctor.user.profile_pic %}
														src="{{ appointment.doctor.user.profile_pic.url }}"
														{% else %}
														{% if appointment.doctor.user.gender == 'M' %}
														src="{% static 'images/doctors/doc.png' %}"
														{% else %}
														src="{% static 'images/doctors/fdoc.png' %}"
														{% endif %}
														{% endif %}
															alt="User Image">
														</a>
													<a href="">{{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }}</a>
												</h2>
											</td>
											<td>{{ appointment.doctor.department.name }}</td>
											<td>
												<h2 class="table-avatar">
													<a href=""
														class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															{% if appointment.patient.user.profile_pic %}
															src="{{ appointment.patient.user.profile_pic.url }}"
															{% else %}
															{% if appointment.patient.user.gender == 'M' %}
															src="{% static 'images/profiles/male.jpg' %}"
															{% else %}
															src="{% static 'images/profiles/female.jpg' %}"
															{% endif %}
															{% endif %}
															alt="User Image"></a>
													<a href="">{{ appointment.patient.user.first_name }}, {{ appointment.patient.user.last_name }} </a>
												</h2>
											</td>
											<td>{{ appointment.appointment_on.date }} <span class="text-primary d-block">{{ appointment.appointment_on.start_time }} - {{ appointment.appointment_on.end_time }}  </span>
											</td>
											<td>
												{% if appointment.status == 'SH' %}
												<i class="fa-solid fa-calendar-day text-info"></i> Scheduled 
												{% elif appointment.status == 'RP' %}
												<i class="fa-solid fa-file-medical text-warning"></i> Reported
												{% elif appointment.status == 'CO' %}
												<i class="fa-solid fa-calendar-check text-success"></i> Completed
												{% elif appointment.status == 'CA' %}
												<i class="fa-solid fa-calendar-check text-danger"></i> Cancelled
												{% elif appointment.status == 'NS' %}
												<i class="fa-solid fa-calendar-check text-muted"></i> No Show
												{% endif %}												
											</td>
											<td class="text-right">
												₹ {{ appointment.doctor.consult_fees }}
											</td>
										</tr>
										{% empty %}
										<tr>
											<td colspan="7" class="text-center">
												No Appointments for today
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
								<nav class="mx-2 pt-2">
									<ul class="pagination">
										{% if appointments.has_previous %}
											<li class="page-item">
												<a class="page-link" href="?page=1">First</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="?page={{ appointments.previous_page_number }}">Previous</a>
											</li>
										{% endif %}
								
										<li class="page-item active">
											<span class="page-link">Page {{ appointments.number }} of {{ appointments.paginator.num_pages }}</span>
										</li>
								
										{% if appointments.has_next %}
											<li class="page-item">
												<a class="page-link" href="?page={{ appointments.next_page_number }}">Next</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="?page={{ appointments.paginator.num_pages }}">Last</a>
											</li>
										{% endif %}
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<!-- /Recent Orders -->

					<!-- Add Appointment Modal -->
					<div class="modal fade" id="Add_Appointment_details" aria-hidden="true" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Add Appointment</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form method="post">
										{% csrf_token %}
										<div class="row form-row">
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<div class="row">
														<div class="col-4">
															<label>Patient</label>
														</div>
														<div class="col-8">
															<span class="text-right"> <a href="#new_patient" data-toggle="modal">New Patient</a></span>
														</div>
													</div>
													<select class="form-control" name="pat_id" id="">
														{% for patient in patients %}
														<option value="{{ patient.id }}">{{ patient.pat_mrd_no }}-{{ patient.user.first_name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>Specialities</label>
													<select class="form-control" name="dep_id" id="">
														{% for dep in departments %}
														<option value="{{ dep.id }}">{{ dep.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>Doctor</label>
													<select class="form-control" name="doc_id" id="">
														{% for doc in doctors %}
														<option value="{{ doc.id }}">{{ doc.user.first_name }}-{{ doc.department.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										<button type="submit" class="btn btn-primary btn-block">
											Make Appointment
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="new_patient" aria-hidden="true" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Add New User</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form method="post">
										{% csrf_token %}
										{% for field in userForm %}
										<div class="form-group">
											{{ field }}
											{% if field.errors %}
											<div class="text-warning small  mt-1">
												{{ field.errors|join:", " }}
											</div>
											{% endif %}
											{% if field.help_text and not field.errors %}
											<div class="form-text text-muted">
												{{ field.help_text }}
											</div>
											{% endif %}
										</div>
										{% endfor %}
										<input type="hidden" name="newuser" value="true">			
										<button class="w-100 mb-2 btn btn-lg  btn-primary" type="submit">Add user</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Wrapper -->
</div>
<!-- /Main Wrapper -->
{% endblock %}