{% extends 'base.html' %}

{% load static %}
{% block title %}
{{ user.username }}'s Profile
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div class="main-wrapper">

	{% include 'staff/sidebar.html' %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col">
						<h3 class="page-title">Profile</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="">Dashboard</a></li>
							<li class="breadcrumb-item active">Profile</li>
							<li class="breadcrumb-item active">{{ user.username }}</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="container mt-5">
                        <h2>Password Changed Successfully</h2>
                        <p>Your password has been updated.</p>
                        {% if request.user.user_type == 'Patient' %}
                        <a href="{% url  'patient_dashboard' %}" class="btn btn-success">Go to Home</a>
                        {% elif request.user.user_type == 'Doctor' %}
                        <a href="{% url  'doctor_dashboard' %}" class="btn btn-success">Go to Home</a>
                        {% elif request.user.user_type == 'Staff' %}
                        <a href="{% url  'staff_dashboard' %}" class="btn btn-success">Go to Home</a>
                        {% endif %}
                    </div>
                </div>
            </div>
		</div>

	</div>
</div>
<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->
{% endblock %}