{% extends 'base.html' %}

{% load static %}
{% block title %}
Transactions
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div class="main-wrapper">

	{% include 'staff/sidebar.html' %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Transactions</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'staff_dashboard' %}">Dashboard</a></li>
							<li class="breadcrumb-item active">Transactions</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Patient ID</th>
											<th>Appt. Number</th>
											<th>Patient Name</th>
											<th>doctor</th>
											<th>Appt. Date</th>
											<th>Total Amount</th>
											<th class="text-right">Payment Date</th>
											<th class="text-center">Status</th>
										</tr>
									</thead>
									<tbody>
										{% for appointment in appointments %}
										<tr>
											<td>{{ appointment.patient.pat_mrd_no }}</td>
											<td>{{ appointment.appointment_number }}</td>
											<td>
												<h2 class="table-avatar">
													<a href="" class="avatar avatar-sm mr-2">
														<img class="avatar-img rounded-circle" 
														{% if appointment.patient.user.profile_pic %}
														src="{{ appointment.patient.user.profile_pic.url }}" 
														{% else %}
														{% if appointment.patient.user.gender == 'M' %}
														src="{% static 'images/profiles/male.jpg' %}"
														{% else %}
														src="{% static 'images/profiles/female.jpg' %}"
														{% endif %}
														{% endif %}
														alt="User Image">
													</a>
													<a href="">{{ appointment.patient.user.first_name }} {{ appointment.patient.user.last_name }}</a>
												</h2>
											</td>
											<td>{{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }}</td>
											<td>{{ appointment.appointment_on.date }}</td>
											<td>{{ appointment.appointment_on.date }}</td>
											<td> {{ appointment.appointment_fees }}</td>
											<td class="text-center">
												{% if appointment.status == 'CO' %}
												<span class="badge badge-pill bg-success inv-badge">Completed</span>
												{% elif appointment.status == 'RP' %}
												<span class="badge badge-pill bg-warning inv-badge">Reported</span>
												{% elif appointment.status == 'SH' %}
												<span class="badge badge-pill bg-info inv-badge">Scheduled</span>
												{% elif appointment.status == 'CA' %}
												<span class="badge badge-pill bg-danger inv-badge">Cancelled</span>
												{% elif appointment.status == 'NS' %}
												<span class="badge badge-pill bg-gray inv-badge">No Show</span>
												{% endif %}
											</td>
											<!-- <td class="text-right">
												<div class="actions">
													<a class="btn btn-sm bg-danger-light" data-toggle="modal"
														href="#delete_modal">
														<i class="fe fe-trash"></i> Delete
													</a>
												</div>
											</td> -->
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Wrapper -->
	{% endblock %}