{% extends 'admin/base.html' %}

{% load static %}
{% block title %}
Admin Dashboard
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div class="main-wrapper">

	{% include 'admin/sidebar.html' %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-7">
						<h3 class="page-title">List of Doctors</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
							<li class="breadcrumb-item active">Doctor</li>
						</ul>
					</div>
					<div class="col-sm-5">
						<a href="#Add_New_Doctor" data-toggle="modal"
						class="btn btn-primary float-right mt-2">New Doctor</a>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Employee Code</th>
											<th>Doctor Name</th>
											<th>Degree</th>
											<th>Speciality</th>
											<th>Licence Number</th>
											<th>Experience</th>
											<th>Member Since</th>
											<th>Account Status</th>

										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												324325235
											</td>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'admin_profile' %}"
														class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'images//doctors/doctor-thumb-01.jpg' %}"
															alt="User Image"></a>
													<a href="{% url 'admin_profile' %}">Dr. Ruby Perrin</a>
												</h2>
											</td>
											<td>MBBS, MD</td>
											<td>Dental</td>
											<td>KDC43235235</td>
											<td>15</td>
											<td>14 Jan 2019 <br><small>02.59 AM</small></td>

											<td>
												<div class="status-toggle">
													<input type="checkbox" id="status_1" class="check" checked>
													<label for="status_1" class="checktoggle">checkbox</label>
												</div>
											</td>
										</tr>
										<tr>
											<td>23423523</td>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'admin_profile' %}"
														class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'images//doctors/doctor-thumb-02.jpg' %}"
															alt="User Image"></a>
													<a href="{% url 'admin_profile' %}">Dr. Darren Elder</a>
												</h2>
											</td>
											<td>MBBS, MD</td>
											<td>Nephrology</td>
											<td>KDC43235235</td>
											<td>15</td>
											<td>14 Jan 2019 <br><small>02.59 AM</small></td>

											<td>
												<div class="status-toggle">
													<input type="checkbox" id="status_1" class="check" checked>
													<label for="status_1" class="checktoggle">checkbox</label>
												</div>
											</td>
										</tr>
										<tr>
											<td>423423423</td>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'admin_profile' %}"
														class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'images//doctors/doctor-thumb-03.jpg' %}"
															alt="User Image"></a>
													<a href="{% url 'admin_profile' %}">Dr. Deborah Angel</a>
												</h2>
											</td>
											<td>MBBS, MD</td>
											<td>Cardiology</td>
											<td>KDC43235235</td>
											<td>15</td>
											<td>14 Jan 2019 <br><small>02.59 AM</small></td>
											<td>
												<div class="status-toggle">
													<input type="checkbox" id="status_1" class="check" checked>
													<label for="status_1" class="checktoggle">checkbox</label>
												</div>
											</td>
										</tr>
										<!-- <tr>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'admin_profile' %}" class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'images//doctors/doctor-thumb-04.jpg' %}"
															alt="User Image"></a>
													<a href="{% url 'admin_profile' %}">Dr. Sofia Brient</a>
												</h2>
											</td>
											<td>Urology</td>

											<td>5 Jul 2019 <br><small>12.59 AM</small></td>

											<td>$3500.00</td>

											<td>
												<div class="status-toggle">
													<input type="checkbox" id="status_1" class="check" checked>
													<label for="status_1" class="checktoggle">checkbox</label>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'admin_profile' %}" class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'images//doctors/doctor-thumb-05.jpg' %}"
															alt="User Image"></a>
													<a href="{% url 'admin_profile' %}">Dr. Marvin Campbell</a>
												</h2>
											</td>
											<td>Orthopaedics</td>

											<td>24 Jan 2019 <br><small>02.59 AM</small></td>

											<td>$3700.00</td>

											<td>
												<div class="status-toggle">
													<input type="checkbox" id="status_1" class="check" checked>
													<label for="status_1" class="checktoggle">checkbox</label>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'admin_profile' %}" class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'images//doctors/doctor-thumb-06.jpg' %}"
															alt="User Image"></a>
													<a href="{% url 'admin_profile' %}">Dr. Katharine Berthold</a>
												</h2>
											</td>
											<td>Orthopaedics</td>

											<td>23 Mar 2019 <br><small>02.50 PM</small></td>

											<td>$4000.00</td>

											<td>
												<div class="status-toggle">
													<input type="checkbox" id="status_1" class="check" checked>
													<label for="status_1" class="checktoggle">checkbox</label>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'admin_profile' %}" class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'images//doctors/doctor-thumb-07.jpg' %}"
															alt="User Image"></a>
													<a href="{% url 'admin_profile' %}">Dr. Linda Tobin</a>
												</h2>
											</td>
											<td>Neurology</td>

											<td>14 Dec 2018 <br><small>01.59 AM</small></td>

											<td>$2000.00</td>

											<td>
												<div class="status-toggle">
													<input type="checkbox" id="status_1" class="check" checked>
													<label for="status_1" class="checktoggle">checkbox</label>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'admin_profile' %}" class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'images//doctors/doctor-thumb-08.jpg' %}"
															alt="User Image"></a>
													<a href="{% url 'admin_profile' %}">Dr. Paul Richard</a>
												</h2>
											</td>
											<td>Dermatology</td>

											<td>11 Jan 2019 <br><small>02.59 AM</small></td>

											<td>$3000.00</td>

											<td>
												<div class="status-toggle">
													<input type="checkbox" id="status_1" class="check" checked>
													<label for="status_1" class="checktoggle">checkbox</label>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'admin_profile' %}" class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'images//doctors/doctor-thumb-09.jpg' %}"
															alt="User Image"></a>
													<a href="{% url 'admin_profile' %}">Dr. John Gibbs</a>
												</h2>
											</td>
											<td>Dental</td>

											<td>21 Apr 2018 <br><small>02.59 PM</small></td>

											<td>$4100.00</td>

											<td>
												<div class="status-toggle">
													<input type="checkbox" id="status_1" class="check" checked>
													<label for="status_1" class="checktoggle">checkbox</label>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<h2 class="table-avatar">
													<a href="{% url 'admin_profile' %}" class="avatar avatar-sm mr-2"><img
															class="avatar-img rounded-circle"
															src="{% static 'images//doctors/doctor-thumb-10.jpg' %}"
															alt="User Image"></a>
													<a href="{% url 'admin_profile' %}">Dr. Olga Barlow</a>
												</h2>
											</td>
											<td>Dental</td>

											<td>15 Feb 2018 <br><small>03.59 AM</small></td>

											<td>$3500.00</td>

											<td>
												<div class="status-toggle">
													<input type="checkbox" id="status_1" class="check" checked>
													<label for="status_1" class="checktoggle">checkbox</label>
												</div>
											</td>
										</tr> -->
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="Add_New_Doctor" aria-hidden="true" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Add Doctor</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="row form-row">
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Patient</label>
											<select class="form-control" name="doctor" id="">
												<option value="1">Patient 1</option>
												<option value="2">Patient 2</option>
												<option value="3">Patient 3</option>
												<option value="4">Patient 4</option>
												<option value="5">Patient 5</option>
												<option value="6">Patient 6</option>
												<option value="7">Patient 7</option>
												<option value="8">Patient 8</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Specialities</label>
											<select class="form-control" name="doctor" id="">
												<option value="1">Specialities 1</option>
												<option value="2">Specialities 2</option>
												<option value="3">Specialities 3</option>
												<option value="4">Specialities 4</option>
												<option value="5">Specialities 5</option>
												<option value="6">Specialities 6</option>
												<option value="7">Specialities 7</option>
												<option value="8">Specialities 8</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Doctor</label>
											<select class="form-control" name="doctor" id="">
												<option value="1">Doctor 1</option>
												<option value="2">Doctor 2</option>
												<option value="3">Doctor 3</option>
												<option value="4">Doctor 4</option>
												<option value="5">Doctor 5</option>
												<option value="6">Doctor 6</option>
												<option value="7">Doctor 7</option>
												<option value="8">Doctor 8</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group">
											<label>Date</label>
											<input type="date" class="form-control">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group">
											<label>Time</label>
											<input type="time" class="form-control">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group">
											<label>Amount</label>
											<input type="number" disabled class="form-control" value="₹200">
										</div>
									</div>

								</div>
								<button type="submit" class="btn btn-primary btn-block">Make
									Appointment</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /Page Wrapper -->
	{% endblock %}