{% extends 'base.html' %}

{% load static %}
{% block title %}
{{ user.username }}'s Profile
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div class="main-wrapper">

	{% include 'doctor/sidebar.html' %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col">
						<h3 class="page-title">Profile</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="">Dashboard</a></li>
							<li class="breadcrumb-item active">Profile</li>
							<li class="breadcrumb-item active">{{ user.username }}</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row mx-auto">
				<div class="col-md-6" style="margin:0 auto!important;">
					<div class="profile-header p-5 rounded-lg">
						<div class="px-5">
							<form method="post">
								{% csrf_token %}
								{% for field in form %}
								<div class="form-group">
									{{ field }}
									{% if field.errors %}
									<div class="text-danger pt-1">{{ field.errors }}</div>
									{% endif %}
								</div>
								{% endfor %}
								<div class="submit-section">
									<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->
{% endblock %}