{% extends 'doctor/base.html' %}
{% load static %}
{% block title %}
Appoinments
{% endblock %}
{% block content %}
<!-- Page Content -->
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar dct-dashbd-lft">
				<!-- Profile Widget -->
				<div class="card widget-profile pat-widget-profile">
					<div class="card-body">
						<div class="pro-widget-content">
							<div class="profile-info-widget">
								<a href="#" class="booking-doc-img">
									<img class="avatar-img rounded-circle" 
									{% if patient.user.profile_pic %}
									src="{{ patient.user.profile_pic.url }}"
									{% else %}
									{% if patient.user.gender == 'M' %}
									src="{% static 'images/profiles/male.jpg' %}"
									{% else %}
									src="{% static 'images/profiles/female.jpg' %}"
									{% endif %}
									{% endif %}
									alt="User Image">
								</a>
								<div class="profile-det-info">
									<h3>{{ patient.user.first_name }} {{ patient.user.last_name }}</h3>

									<div class="patient-details">
										<h5><b>Patient MRD No :</b>{{patient.pat_mrd_no}}</h5>
										<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{ patient.user.city }},
											{{ patient.user.state }}</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="patient-info">
							<ul>
								<li>Gender <span>{{ patient.user.gender }}</span></li>
								<li>DOB <span>{{ patient.user.date_of_birth }}</span></li>
								<li>Blood Group <span>{{ patient.blood_group }}</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /Profile Widget -->
			</div>

			<div class="col-md-7 col-lg-8 col-xl-9 dct-appoinment">
				<div class="card">
					<div class="card-body pt-0">
						<div class="tab-content">
							<div class="user-tabs p-2">
								<h3>Appointments</h3>
							</div>
							<!-- Appointment Tab -->
							<div id="pat_appointments" class="tab-pane fade show active">
								<div class="card card-table mb-0">
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-hover table-center mb-0">
												<thead>
													<tr>
														<th>Doctor</th>
														<th>Appt Date</th>
														<th>Appt Number</th>
														<th>Booking Date</th>
														<!-- <th>Amount</th> -->
														<th>Follow Up</th>
														<th>Status</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													{% for app in appointments %}
													<tr>
														<td>
															<h2 class="table-avatar">
																<a href="">{{ app.doctor.user.first_name }} {{ app.doctor.user.last_name }}
																	<span>{{ app.doctor.department.name }}</span></a>
															</h2>
														</td>
														<td>{{ app.appointment_on.date }} <span class="d-block text-info">{{ app.appointment_on.start_time }}</span>
														</td>
														<td>{{ app.appointment_number }}</td>
														<td>{{ app.created_at.date }}</td>
														<td>NA</td>
														<td><span
																class="badge badge-pill bg-success-light">Confirm</span>
														</td>
														<td class="text-right">
															<div class="table-action">
																{% if app.doctor.user == request.user %}
																{% if not app.medicalrecord.is_closed %}
																{% if app.appointment_on.date == today %}
																{% if app.status == 'RP' %}
																<a href="{% url 'doc_pat_records' app.patient.user.id app.appointment_number %}"
																	class="btn btn-sm bg-success-light">
																		<i class="far fa-edit"></i> Open
																</a>
																{% endif %}
																{% endif %}
																{% endif %}
																{% endif %}
																<div class="table-action">
																	<a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details_{{ appointment.id }}">
																		<i class="far fa-eye"></i> View
																	</a>
																</div>
																<!-- <a href="{% url 'doc_pat_records' app.patient.id app.appointment_number %}"
																	class="btn btn-sm bg-warning-light">
																	<i class="far fa-eye"></i> view
																</a> -->
															</div>
														</td>
													</tr>
													{% endfor %}
												</tbody>
											</table>
											<nav>
												<ul class="pagination mt-2">
													{% if appointments.has_previous %}
														<li class="page-item">
															<a class="page-link" href="?page=1">First</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="?page={{ appointments.previous_page_number }}">Previous</a>
														</li>
													{% endif %}
											
													<li class="page-item active">
														<span class="page-link">Page {{ appointments.number }} of {{ appointments.paginator.num_pages }}</span>
													</li>
											
													{% if appointments.has_next %}
														<li class="page-item">
															<a class="page-link" href="?page={{ appointments.next_page_number }}">Next</a>
														</li>
														<li class="page-item">
															<a class="page-link" href="?page={{ appointments.paginator.num_pages }}">Last</a>
														</li>
													{% endif %}
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
							<!-- /Appointment Tab -->
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- /Page Content -->
{% endblock %}
{% block popup %}
{% for appointment in appointments %}
<div class="modal fade custom-modal" id="appt_details_{{ appointment.id }}">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Appointment Details - {{ appointment.patient.user.first_name }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="info-details">
					<li>
						<div class="details-header">
							<div class="row">
								<div class="col-md-6">
									<span class="title">{{ appointment.appointment_number }}<span>
									<span class="text">{{ appointment.appointment_on.date }} {{ appointment.appointment_on.start_time }}</span>
								</div>
								<div class="col-md-6">
									<div class="text-right">
										{% if appointment.status == 'SH' %}
										<button type="button" class="btn bg-warning-light btn-sm" id="topup_status">Scheduled</button>
										{% elif appointment.status == 'RP' %}
										<button type="button" class="btn bg-primary-light btn-sm" id="topup_status">Reported</button>
										{% elif appointment.status == 'CO' %}
										<button type="button" class="btn bg-success-light btn-sm" id="topup_status">Completed</button>
										{% elif appointment.status == 'CA' %}
										<button type="button" class="btn bg-danger-light btn-sm" id="topup_status">Cancelled</button>
										{% elif appointment.status == 'NS' %}
										<button type="button" class="btn bg-dark btn-sm" id="topup_status">No Show</button>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<span class="title">Status:</span>
						{% if appointment.status == 'SH' %}
						<i class="fa-solid fa-calendar-day text-info"></i> Scheduled 
						{% elif appointment.status == 'RP' %}
						<i class="fa-solid fa-file-medical text-warning"></i> Reported
						{% elif appointment.status == 'CO' %}
						<i class="fa-solid fa-calendar-check text-success"></i> Completed
						{% elif appointment.status == 'CA' %}
						<i class="fa-solid fa-calendar-check text-danger"></i> Cancelled
						{% elif appointment.status == 'NS' %}
						<i class="fa-solid fa-calendar-check text-muted"></i> No Show
						{% endif %}

					</li>
					<li>
						<span class="title">Confirm Date:</span>
						<span class="text">{{ appointment.created_at }}</span>
					</li>
					<li>
						<span class="title">Amount</span>
						<span class="text">₹ {{ appointment.doctor.consult_fees }}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}