{% load static %}
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							
    <!-- Profile Sidebar -->
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    {% if user.profile_pic %}
                    <img src="{{ user.profile_pic.url }}" alt="user image">
                    {% else %}
                    {% if user.gender == 'M' %}
                    <img src="{% static 'images/profiles/male.jpg' %}" alt="User Image">
                    {% else %}
                    <img src="{% static 'images/profiles/female.jpg' %}" alt="User Image">
                    {% endif %}
                    {% endif %}
                </a>
                <div class="profile-det-info">
                    <h3>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h3>
                    
                    <div class="patient-details">
                        <h5 class="mb-0">{{ doctor.qualification }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li {% if request.path == '/doctor/' %} class="active" {% endif %}>
                        <a href="{% url 'doctor_dashboard' %}">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li {% if request.path == '/doctor/appointments/' %} class="active" {% endif %}>
                        <a href="{% url 'doctor_appointment_list' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Appointments</span>
                        </a>
                    </li>
                    <li {% if request.path == '/doctor/patients/' %} class="active" {% endif %}>
                        <a href="{% url 'doctor_patients_list' %}">
                            <i class="fas fa-user-injured"></i>
                            <span>My Patients</span>
                        </a>
                    </li>
                    <li {% if request.path == '/doctor/schedule/' %} class="active" {% endif %}>
                        <a href="{% url 'doctor_schedule' %}">
                            <i class="fas fa-hourglass-start"></i>
                            <span>Schedule Timings</span>
                        </a>
                    </li>
                    <li {% if request.path == '/doctor/profile/' %} class="active" {% endif %}>
                        <a href="{% url 'doctor_profile' %}">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li {% if request.path == '/doctor/change_password/' %} class="active" {% endif %}>
                        <a href="{% url 'doctor_change_password' %}">
                            <i class="fas fa-user-cog"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li> 
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /Profile Sidebar -->
    
</div>