{% extends 'base.html' %}
{% load static %}
{% block title %}
Appointments
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div class="main-wrapper">

	{% include 'administration/sidebar.html' %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-7">
						<h3 class="page-title">Appointments</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
							<li class="breadcrumb-item active">Appointments</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->
			<div class="row">
				<div class="col-md-12">

					<!-- Recent Orders -->
					<div class="card">
						<div class="card-body">
							{% if latest_page_obj %}
								<div class="table-responsive">
									<table class="datatable table table-hover table-center mb-0">
										<thead>
											<tr>
												<th>Doctor Name</th>
												<th>Speciality</th>
												<th>Patient Name</th>
												<th>Apointment Time</th>
												<th>Status</th>
												<th class="text-right">Amount</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											{% for appointment in latest_page_obj %}
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href=""
															class="avatar avatar-sm mr-3">
															<img class="avatar-img rounded-circle"
																{% if appointment.doctor.user.profile_pic %}
																src="{{ appointment.doctor.user.profile_pic.url }}"
																{% else %}
																src="{% static '/images/doctors/doc.png' %}"
																{% endif %}
																alt="User Image" style="width: 50px;">
															</a>
														<a href="">{{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }}</a>
													</h2>
												</td>
												<td>{{ appointment.doctor.department.name }}</td>
												<td>
													<h2 class="table-avatar">
														<a href="{% url 'admin_profile' %}"
															class="avatar avatar-sm mr-3"><img
																class="avatar-img rounded-circle"
																{% if appointment.patient.user.profile_pic %}
																src="{{ appointment.patient.user.profile_pic.url }}"
																{% else %}
																{% if appointment.patient.user.gender == 'M' %}
																src="{% static 'images/profiles/male.jpg' %}"
																{% else %}
																 src="{% static 'images/profiles/female.jpg' %}"
																{% endif %}
																{% endif %}
																alt="User Image" style="width: 50px;"></a>
														<a href="{% url 'admin_profile' %}">{{ appointment.patient.user.first_name }}, {{ appointment.patient.user.last_name }} </a>
													</h2>
												</td>
												<td>{{ appointment.appointment_on.date }} <span class="text-primary d-block">
													{{ appointment.appointment_on.start_time }}</span>
												</td>
												<td>
													{% if appointment.status == 'SH' %}
													<i class="fa-solid fa-calendar-day text-info"></i> Scheduled
													{% elif appointment.status == 'RP' %}
													<i class="fa-solid fa-file-medical text-warning"></i> Reported
													{% elif appointment.status == 'CO' %}
													<i class="fa-solid fa-calendar-check text-success"></i> Completed
													{% elif appointment.status == 'CA' %}
													<i class="fa-solid fa-calendar-check text-danger"></i> Cancelled
													{% elif appointment.status == 'NS' %}
													<i class="fa-solid fa-calendar-check text-muted"></i> No Show
													{% endif %}
												</td>
												<td class="text-right">
													₹ {{ appointment.doctor.consult_fees }}
												</td>
												<td>
													<div class="actions">
														<a class="btn btn-sm bg-success-light" data-toggle="modal"
															href="#edit_appointment_details">
															<i class="fe fe-pencil"></i> Edit
														</a>
														<a data-toggle="modal" href="#delete_modal"
															class="btn btn-sm bg-danger-light">
															<i class="fe fe-trash"></i> Delete
														</a>
													</div>
												</td>
											</tr>
											{% empty %}
											<tr>
												<td colspan="7" class="text-center">No Appointments</td>
											</tr>
											{% endfor %}
											{% endif %}
										</tbody>
									</table>
									{% if latest_page_obj %}
									<nav>
										<ul class="pagination">
											{% if latest_page_obj.has_previous %}
												<li class="page-item">
													<a class="page-link" href="?page=1">First</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="?page={{ latest_page_obj.previous_page_number }}">Previous</a>
												</li>
											{% endif %}

											<li class="page-item active">
												<span class="page-link">Page {{ latest_page_obj.number }} of {{ latest_page_obj.paginator.num_pages }}</span>
											</li>

											{% if latest_page_obj.has_next %}
												<li class="page-item">
													<a class="page-link" href="?page={{ latest_page_obj.next_page_number }}">Next</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="?page={{ latest_page_obj.paginator.num_pages }}">Last</a>
												</li>
											{% endif %}
										</ul>
									</nav>
									{% endif %}
									{% if all_page_obj %}
									<div class="table-responsive">
										<table class="datatable table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>Doctor Name</th>
													<th>Speciality</th>
													<th>Patient Name</th>
													<th>Apointment Time</th>
													<th>Status</th>
													<th class="text-right">Amount</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												{% for appointment in all_page_obj %}
												<tr>
													<td>
														<h2 class="table-avatar">
															<a href=""
																class="avatar avatar-sm mr-2">
																<img class="avatar-img rounded-circle"
																{% if appointment.doctor.user.profile_pic %}
																	src="{{ appointment.doctor.user.profile_pic.url }}"
																{% else %}
																{% if user.gender == 'M' %}
																src="{% static 'images/doctors/doc.png' %}"
																{% else %}
																src="{% static 'images/doctors/fdoc.png' %}"
																{% endif %}
																{% endif %}
																	alt="User Image">
																</a>
															<a href="">{{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }}</a>
														</h2>
													</td>
													<td>{{ appointment.doctor.department.name }}</td>
													<td>
														<h2 class="table-avatar">
															<a href="{% url 'admin_profile' %}"
																class="avatar avatar-sm mr-2"><img
																	class="avatar-img rounded-circle"
																	{% if appointment.patient.user.profile_pic %}
																	src="{{ appointment.patient.user.profile_pic.url }}"
																	{% else %}
																	{% if appointment.user.gender == 'M' %}
																	src="{% static 'images/patients/male.jpg' %}"
																	{% else %}
																	src="{% static 'images/patients/female.jpg' %}"
																	{% endif %}
																	{% endif %}
																	alt="User Image"></a>
															<a href="{% url 'admin_profile' %}">{{ appointment.patient.user.first_name }}, {{ appointment.patient.user.last_name }} </a>
														</h2>
													</td>
													<td>{{ appointment.appointment_on.date }} <span class="text-primary d-block">{{ appointment.appointment_on.start_time }}</span>
													</td>
													<td>
														{% if appointment.status == 'SH' %}
														<i class="fa-solid fa-calendar-day text-info"></i> Scheduled
														{% elif appointment.status == 'RP' %}
														<i class="fa-solid fa-file-medical text-warning"></i> Reported
														{% elif appointment.status == 'CO' %}
														<i class="fa-solid fa-calendar-check text-success"></i> Completed
														{% elif appointment.status == 'CA' %}
														<i class="fa-solid fa-calendar-check text-danger"></i> Cancelled
														{% elif appointment.status == 'NS' %}
														<i class="fa-solid fa-calendar-check text-muted"></i> No Show
														{% endif %}
													</td>
													<td class="text-right">
														₹ {{ appointment.doctor.consult_fees }}
													</td>
													<td>
														<div class="actions">
															<a class="btn btn-sm bg-success-light" data-toggle="modal"
																href="#edit_appointment_details">
																<i class="fe fe-pencil"></i> Edit
															</a>
															<a data-toggle="modal" href="#delete_modal"
																class="btn btn-sm bg-danger-light">
																<i class="fe fe-trash"></i> Delete
															</a>
														</div>
													</td>
												</tr>
													{% empty %}
													<td colspan="7" class="text-center"> No Appointments</td>
												{% endfor %}
											</tbody>
										</table>
										<nav>
											<ul class="pagination">
												{% if all_page_obj.has_previous %}
													<li class="page-item">
														<a class="page-link" href="?page=1">First</a>
													</li>
													<li class="page-item">
														<a class="page-link" href="?page={{ all_page_obj.previous_page_number }}">Previous</a>
													</li>
												{% endif %}

												<li class="page-item active">
													<span class="page-link">Page {{ all_page_obj.number }} of {{ all_page_obj.paginator.num_pages }}</span>
												</li>

												{% if all_page_obj.has_next %}
													<li class="page-item">
														<a class="page-link" href="?page={{ all_page_obj.next_page_number }}">Next</a>
													</li>
													<li class="page-item">
														<a class="page-link" href="?page={{ all_page_obj.paginator.num_pages }}">Last</a>
													</li>
												{% endif %}
											</ul>
										</nav>
									</div>
									{% endif %}
								</div>
						</div>
					</div>

					<!-- Add Appointment Modal -->
					<div class="modal fade" id="Add_Appointment_details" aria-hidden="true" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Add Appointment</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form>
										<div class="row form-row">
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>Patient</label>
													<select class="form-control" name="pat_mrd_no" id="">
														<option value="1">{{ patient.first_name }}</option>
													</select>
												</div>
											</div>
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>Specialities</label>
													<select class="form-control" name="doctor" id="">
														<option value="1">Specialities 1</option>
														<option value="2">Specialities 2</option>
														<option value="3">Specialities 3</option>
														<option value="4">Specialities 4</option>
														<option value="5">Specialities 5</option>
														<option value="6">Specialities 6</option>
														<option value="7">Specialities 7</option>
														<option value="8">Specialities 8</option>
													</select>
												</div>
											</div>
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>Doctor</label>
													<select class="form-control" name="doctor" id="">
														<option value="1">Doctor 1</option>
														<option value="2">Doctor 2</option>
														<option value="3">Doctor 3</option>
														<option value="4">Doctor 4</option>
														<option value="5">Doctor 5</option>
														<option value="6">Doctor 6</option>
														<option value="7">Doctor 7</option>
														<option value="8">Doctor 8</option>
													</select>
												</div>
											</div>
											<div class="col-12 col-sm-4">
												<div class="form-group">
													<label>Date</label>
													<input type="date" class="form-control">
												</div>
											</div>
											<div class="col-12 col-sm-4">
												<div class="form-group">
													<label>Time</label>
													<input type="time" class="form-control">
												</div>
											</div>
											<div class="col-12 col-sm-4">
												<div class="form-group">
													<label>Amount</label>
													<input type="text" disabled class="form-control" value="₹200">
												</div>
											</div>

										</div>
										<button type="submit" class="btn btn-primary btn-block">Make
											Appointment</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Edit Details Modal -->
					<div class="modal fade" id="edit_appointment_details" aria-hidden="true" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Edit Appointment</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form>
										<div class="row form-row">
											<div class="col-12 col-sm-4">
												<div class="form-group">
													<label>Doctor</label>
													<select class="form-control" name="doctor" id="">
														<option value="1">doctor 1</option>
														<option value="2">doctor 2</option>
														<option value="3">doctor 3</option>
														<option value="4">doctor 4</option>
														<option value="5">doctor 5</option>
														<option value="6">doctor 6</option>
														<option value="7">doctor 7</option>
														<option value="8">doctor doctor doctordoctor 7</option>
													</select>
													<!-- <input type="select" class="form-control" value="Cardiology"> -->
												</div>
											</div>
											<div class="col-12 col-sm-4">
												<div class="form-group">
													<label>Date</label>
													<input type="date" class="form-control">
												</div>
											</div>
											<div class="col-12 col-sm-4">
												<div class="form-group">
													<label>Time</label>
													<input type="time" class="form-control">
												</div>
											</div>

										</div>
										<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- /Edit Details Modal -->

					<!-- Delete Modal -->
					<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<!--	<div class="modal-header">
							<h5 class="modal-title">Delete</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>-->
								<div class="modal-body">
									<div class="form-content p-2">
										<h4 class="modal-title">Delete</h4>
										<p class="mb-4">Are you sure want to delete?</p>
										<button type="button" class="btn btn-primary">Save </button>
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Delete Modal -->

				</div>
			</div>
		</div>
	</div>
	<!-- /Page Wrapper -->
</div>
<!-- /Main Wrapper -->
{% endblock %}