{% extends 'base.html' %}

{% load static %}
{% block title %}
Admin Dashboard
{% endblock %}
{% block content %}
<!-- Main Wrapper -->
<div class="main-wrapper">

    {% include 'administration/sidebar.html' %}

    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Welcome {{ user.username }}</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon text-primary border-primary">
                                    <i class="fe fe-users"></i>
                                </span>
                                <div class="dash-count">
                                    <h3>{{ num_doc }}</h3>
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6 class="text-muted">Doctors</h6>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary w-50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon text-success">
                                    <i class="fe fe-credit-card"></i>
                                </span>
                                <div class="dash-count">
                                    <h3>{{ num_pat }}</h3>
                                </div>
                            </div>
                            <div class="dash-widget-info">

                                <h6 class="text-muted">Patients</h6>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-success w-50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon text-danger border-danger">
                                    <i class="fe fe-money"></i>
                                </span>
                                <div class="dash-count">
                                    <h3>{{num_app}}</h3>
                                </div>
                            </div>
                            <div class="dash-widget-info">

                                <h6 class="text-muted">Appointment</h6>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-danger w-50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon text-warning border-warning">
                                    <i class="fe fe-folder"></i>
                                </span>
                                <div class="dash-count">
                                    <h3>₹ {{ revenue }}</h3>
                                </div>
                            </div>
                            <div class="dash-widget-info">

                                <h6 class="text-muted">Revenue</h6>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-warning w-50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex">

                    <!-- Doctors List -->
                    <div class="card card-table flex-fill">
                        <div class="card-header">
                            <h4 class="card-title">Doctors List</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Doctor Name</th>
                                            <th>Speciality</th>
                                            <th>Doctor ID</th>
                                            <th>Degree</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for doc in doctors %}
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a class="avatar avatar-sm mr-2"><img
                                                            class="avatar-img rounded-circle"
                                                            {% if doc.user.profile_pic %}
                                                            src="{{ doc.user.profile_pic.url }}"
                                                            {% else %}
                                                            {% if doc.user.gender == 'M' %}
                                                            src="{% static 'images/doctors/doc.png' %}"
                                                            {% else %}
                                                            src="{% static 'images/doctors/fdoc.png' %}"
                                                            {% endif %}
                                                            {% endif %}
                                                            alt="User Image"></a>
                                                    <a>Dr. {{ doc.user.first_name }} {{ doc.user.last_name }}</a>
                                                </h2>
                                            </td>
                                            <td>{{ doc.department }}</td>
                                            <td>{{ doc.employ_code }}</td>
                                            <td>{{ doc.qualification }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctors List -->

                </div>
                <div class="col-md-6 d-flex">

                    <!-- Patients -->
                    <div class="card  card-table flex-fill">
                        <div class="card-header">
                            <h4 class="card-title">Patients List</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Patient Name</th>
                                            <th>City</th>
                                            <th>Patient MRD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pat in patients %}
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle"
                                                            {% if pat.user.profile_pic %}
                                                            src="{{ pat.user.profile_pic.url }}"
                                                            {% else %}
                                                            {% if pat.user.gender == 'M' %}
                                                            src="{% static '/images/profiles/male.jpg' %}"
                                                            {% else %}
                                                            src="{% static '/images/profiles/female.jpg' %}"
                                                            {% endif %}
                                                            {% endif %}
                                                            alt="User Image"></a>
                                                    <a>{{ pat.user.first_name }} {{ pat.user.last_name }} {{ pat.user.username }}</a>
                                                </h2>
                                            </td>
                                            <td>{{ pat.user.city }}</td>
                                            <td>
                                                {{ pat.pat_mrd_no }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /Feed Activity -->

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <!-- Recent Orders -->
                    <div class="card card-table">
                        <div class="card-header">
                            <h4 class="card-title">Appointment List</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Doctor Name</th>
                                            <th>Speciality</th>
                                            <th>Patient Name</th>
                                            <th>Apointment Time</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for app in appointments %}
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a class="avatar avatar-sm mr-2"><img
                                                            class="avatar-img rounded-circle"
                                                            {% if app.doctor.user.profile_pic %}
                                                            src="{{ app.doctor.user.profile_pic.url }}"
                                                            {% else %}
                                                            {% if app.doctor.user.gender == 'M' %}
                                                            src="{% static 'images/doctors/doc.png' %}"
                                                            {% else %}
                                                            src="{% static 'images/doctors/fdoc.png' %}"
                                                            {% endif %}
                                                            {% endif %}
                                                            alt="User Image"></a>
                                                    <a>Dr. {{app.doctor.user.first_name}} {{app.doctor.user.last_name}}</a>
                                                </h2>
                                            </td>
                                            <td>{{app.doctor.department.name}}</td>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a class="avatar avatar-sm mr-2"><img
                                                            class="avatar-img rounded-circle"
                                                            {% if app.patient.user.profile_pic %}
                                                            src="{{ app.patient.user.profile_pic.url }}"
                                                            {% else %}
                                                            {% if app.patient.user.gender == 'M' %}
                                                            src="{% static 'images/profiles/male.jpg' %}"
                                                            {% else %}
                                                            src="{% static 'images/profiles/female.jpg' %}"
                                                            {% endif %}
                                                            {% endif %}
                                                            alt="User Image"></a>
                                                    <a>{{ app.patient.user.first_name }} {{ app.patient.user.last_name }}</a>
                                                </h2>
                                            </td>
                                            <td>{{ app.appointment_on.date }} <span class="text-primary d-block">{{ app.appointment_on.start_time }}</span>
                                            </td>
                                            <td>
                                                <div class="status-toggle">
                                                    {% if app.status == 'SH' %}
													<i class="fa-solid fa-calendar-day text-info"></i> Scheduled 
													{% elif app.status == 'RP' %}
													<i class="fa-solid fa-file-medical text-warning"></i> Reported
													{% elif app.status == 'CO' %}
													<i class="fa-solid fa-calendar-check text-success"></i> Completed
                                                    {% elif appointment.status == 'CA' %}
                                                    <i class="fa-solid fa-calendar-check text-danger"></i> Cancelled
                                                    {% elif appointment.status == 'NS' %}
                                                    <i class="fa-solid fa-calendar-check text-muted"></i> No Show
													{% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /Recent Orders -->

                </div>
            </div>

        </div>
    </div>
    <!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->
 
{% endblock %}