{% extends 'base.html' %}

{% load static %}
{% block title %}
Patients
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div class="main-wrapper">

	{% include 'administration/sidebar.html' %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">List of Patient</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
							<li class="breadcrumb-item active">Patient</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
				{% for message in messages %}
					<div class="container container-fluid w-min">
					{% if message.tags == 'error' %}
					<div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
						<strong>{{ message }}</strong>
						<a class="close" href="#" data-dismiss="alert">×</a>
					</div>
					{% endif %}
					{% if message.tags == 'success' %}
						<div class="text-center alert alert-success alert-dismissible fade show" role="alert">
							<strong>{{ message }}</strong>
						<a class="close" href="#" data-dismiss="alert">×</a>
						</div>
					{% endif %}
					</div>
					{% endfor %}
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<div class="table-responsive">
									<table class="datatable table table-hover table-center mb-0">
										<thead>
											<tr>
												<th>Patient ID</th>
												<th>Patient Name</th>
												<th>Age</th>
												<th>Address</th>
												<th>Phone</th>
												<!-- <th>Last Visit</th> -->
												<th>Member Since</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											{% for patient in patients %}
											<tr>
												<td>{{ patient.patient.pat_mrd_no }}</td>
												<td>
													<h2 class="table-avatar">
														<a href="{% url 'users_profile' patient.id %}" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" 
															{% if patient.patient.profile_pic %}
															src="{{ patient.patient.profile_pic.url }}"
															{% if patient.patient.gender == 'M' %}
															src="{% static 'images/profiles/male.jpg' %}"
															{% else %}
															 src="{% static 'images/profiles/female.jpg' %}"
															{% endif %}
															{% endif %}
															alt="User Image">
														</a>
														<a href="{% url 'users_profile' patient.id %}">{{ patient.username }}</a>
													</h2>
												</td>
												<td>{{ patient.date_of_birth }}</td>
												<td>{{ patient.address1 }}, {{ patient.city }}, {{ patient.state }}</td>
												<td>{{ patient.phone_number }}</td>
												<td>{{ patient.created_at.date }} <br><small>{{ patient.created_at.time }}</small></td>
												<td>
													<div class="actions">
														<!-- <a class="btn btn-sm bg-success-light" data-toggle="modal"
															href="#edit_{{ user.id }}_details">
															<i class="fe fe-pencil"></i> Edit
														</a> -->
														<a data-toggle="modal" href="#delete_{{ patient.id }}"
															class="btn btn-sm bg-danger-light">
															<i class="fe fe-trash"></i> Delete
														</a>
													</div>
												</td>
											</tr>
											<!-- Delete Modal -->
										<div class="modal fade" id="delete_{{ patient.id }}" aria-hidden="true" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-body">
														<div class="form-content p-2">
															<h4 class="modal-title">Delete {{ patient.username }}</h4>
															<p class="mb-4">Are you sure want to delete?</p>
															<form method="post">
																{% csrf_token %}
															<input type="hidden" name="pat_id" value="{{ patient.id }}">
															<button type="submit" class="btn btn-primary">Delete </button>
															<button type="button" class="btn btn-danger"
																data-dismiss="modal">Close</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- /Delete Modal -->
											{% endfor %}
										</tbody>
									</table>
									<nav>
										<ul class="pagination">
											{% if patients.has_previous %}
												<li class="page-item">
													<a class="page-link" href="?page=1">First</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="?page={{ patients.previous_page_number }}">Previous</a>
												</li>
											{% endif %}
									
											<li class="page-item active">
												<span class="page-link">Page {{ patients.number }} of {{ patients.paginator.num_pages }}</span>
											</li>
									
											{% if patients.has_next %}
												<li class="page-item">
													<a class="page-link" href="?page={{ patients.next_page_number }}">Next</a>
												</li>
												<li class="page-item">
													<a class="page-link" href="?page={{ patients.paginator.num_pages }}">Last</a>
												</li>
											{% endif %}
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

{% endblock %}