{% load static %}
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Main</span>
                </li>
                <li {% if request.path == '/administration/' %} class="active" {% endif %}>
                    <a href="{% url 'admin_home' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fa-solid fa-calendar"></i><span> Appointments </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a  href="{% url 'appointment_list' %}"><i class="fa-solid fa-calendar-day"></i> <span>Latest Appointments</span></a></li>
                        <li> <a href="{% url 'all_appointment_list' %}"><i class="fa-solid fa-calendar-check"></i> <span>All Appointments</span></a></li>
                    </ul>
                </li>
                <li {% if request.path == '/administration/specialities/' %} class="active" {% endif %}>
                    <a href="{% url 'specialities' %}"><i class="fe fe-users"></i> <span>Specialities</span></a>
                </li>
                <li {% if request.path == '/administration/users/' %} class="active" {% endif %}>
                    <a href="{% url 'users' %}"><i class="fe fe-user-plus"></i> <span>Users</span></a>
                </li>
                <li {% if request.path == '/administration/doctors/' %} class="active" {% endif %}>
                    <a href="{% url 'doctors_list' %}"><i class="fa-solid fa-user-doctor"></i> <span>Doctors</span></a>
                </li>
                <li {% if request.path == '/administration/staff/' %} class="active" {% endif %}>
                    <a href="{% url 'staff_list' %}"><i class="fa-solid fa-clipboard-user"></i><span>Staff</span></a>
                </li>
                <li {% if request.path == '/administration/patients/' %} class="active" {% endif %}>
                    <a href="{% url 'patients_list' %}"><i class="fa-solid fa-hospital-user"></i><span>Patients</span></a>
                </li>
                <li {% if request.path == '/administration/transaction/' %} class="active" {% endif %}>
                    <a href="{% url 'transaction' %}"><i class="fe fe-activity"></i> <span>Transactions</span></a>
                </li>
                <li {% if request.path == '/administration/profile/' %} class="active" {% endif %}>
                    <a href="{% url 'admin_profile' %}"><i class="fa-solid fa-id-card"></i> <span>Profile</span></a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->
<!-- Header -->
<div class="header">

    <!-- Logo -->
    <div class="header-left ">
        <a href="{% url 'admin_home' %}" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
        <!-- <a href="{% url 'admin_home' %}" class="logo logo-small">
            <img src="{% static 'images/logo-small.png' %}" alt="Logo" width="30" height="30">
        </a> -->
    </div>
    <!-- /Logo -->

    <!-- <a href="javascript:void(0);" id="toggle_btn">
        <i class="fe fe-text-align-left"></i>
    </a> -->
 
    <!-- Mobile Menu Toggle -->
    <a class="mobile_btn" id="mobile_btn">
        <i class="fa fa-bars"></i>
    </a>
    <!-- /Mobile Menu Toggle -->

    <!-- Header Right Menu -->
        <!-- /Notifications -->
    <ul class="nav user-menu">
        <li class="nav-item dropdown noti-dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="fe fe-bell"></i> 
                {% if notifications %}
                <span class="badge badge-pill">
                    {{ notifications.count }}
                </span>
                {% endif %}
            </a>
            <div class="dropdown-menu notifications" {% if not notifications %} style="height:100px"{% endif %}>
                <div class="topnav-dropdown-header">
                    <span class="notification-title">Notifications</span>
                </div>
                <div class="noti-content">
                    <ul class="notification-list">
                        {% for noti in notifications %}
                        <li class="notification-message">
                            <a href="{% url 'users_profile' noti.id %}">
                                <div class="media">
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title">{{ noti.first_name }} {{ noti.last_name }}</span> requested <span class="noti-title">password reset</span></p>
                                        <p class="noti-time"><span class="notification-time">{{ noti.updated_at }}</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% empty %}
                        <li class="notification-message">
                            <a>
                                <div class="media">
                                    <div class="media-body">
                                        <p class="noti-details"><span class="noti-title"></span> No Notifications</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- <div class="topnav-dropdown-footer">
                    <a href="#">View all Notifications</a>
                </div> -->
            </div>
        </li>
        <!-- /Notifications -->

        <!-- User Menu -->
        <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <span class="user-img"><img class="rounded-circle"
                        src="{% static 'images/profiles/avatar-01.jpg' %}" width="31" alt="Anees Sulaiman"></span>
            </a>
            <div class="dropdown-menu">
                <div class="user-header">
                    <div class="avatar avatar-sm">
                        <img src="{% static 'images/profiles/avatar-01.jpg' %}" alt="User Image"
                            class="avatar-img rounded-circle">
                    </div>
                    <div class="user-text">
                        <h6>{{ request.user.username }}</h6>
                        <p class="text-muted mb-0">{{ request.user.user_type }}</p>
                    </div>
                </div>
                <a class="dropdown-item" href="{% url 'staff_profile' %}">My Profile</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
        </li>
        <!-- /User Menu -->
    </ul>
    <!-- /Header Right Menu -->
    <div class="top-nav-search">
        <form method="get" action="{% url 'staff_search' %}">
            <input type="text" name='q' value="{{ query|default:'' }}" class="form-control" placeholder="Search here">
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

</div>
<!-- /Header -->