{% extends 'base.html' %}

{% load static %}
{% block title %}
Transactions
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div class="main-wrapper">

	{% include 'administration/sidebar.html' %}

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Transactions</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
							<li class="breadcrumb-item active">Transactions</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Patient ID</th>
											<th>Appt. Number</th>
											<th>Patient Name</th>
											<th>doctor</th>
											<th>Appt. Date</th>
											<th>Total Amount</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										{% for tr in transactions %}
										<tr>
											<td>{{ tr.patient.pat_mrd_no }}</td>
											<td>{{ tr.appointment_number }}</td>
											<td>
												<h2 class="table-avatar">
													<a href="" class="avatar avatar-sm mr-2">
														<img class="avatar-img rounded-circle"
														{% if tr.patient.user.profile_pic %}
														src="{{ tr.patient.user.profile_pic.url }}"
														{% else %}
														{% if tr.patient.user.gender == 'M' %}
														src="{% static 'images/profiles/male.jpg' %}"
														{% else %}
														src="{% static 'images/profiles/female.jpg' %}"
														{% endif %}
														{% endif %}
														alt="User Image">
													</a>
													<a href="">{{ tr.patient.user.first_name }} {{ tr.patient.user.last_name }}</a>
												</h2>
											</td>
											<td>Dr. {{ tr.doctor.user.first_name }} {{ tr.doctor.user.last_name }}</td>
											<td>{{ tr.appointment_on.date }}</td>
											<td> {{ tr.doctor.consult_fees }}</td>
											<td>
												{% if tr.status == 'CO' %}
												<span class="badge badge-pill bg-success inv-badge">Completed</span>
												{% elif tr.status == 'RP' %}
												<span class="badge badge-pill bg-warning inv-badge">Reported</span>
												{% elif tr.status == 'SH' %}
												<span class="badge badge-pill bg-info inv-badge">Scheduled</span>
												{% elif tr.status == 'CO' %}
												<span class="badge badge-pill bg-info inv-badge">Completed</span>
												{% elif tr.status == 'NS' %}
												<span class="badge badge-pill bg-info inv-badge">Noshow</span>
												{% endif %}
											</td>
										</tr>
										{% empty %}
										<tr>
											<td colspan="10" class="text-center text-danger">No transactions</td>
										</tr>
										{% endfor %}
										
									</tbody>
								</table>
										<nav>
											<ul class="pagination">
												{% if transactions.has_previous %}
													<li class="page-item">
														<a class="page-link" href="?page=1">First</a>
													</li>
													<li class="page-item">
														<a class="page-link" href="?page={{ transactions.previous_page_number }}">Previous</a>
													</li>
												{% endif %}
										
												<li class="page-item active">
													<span class="page-link">Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}</span>
												</li>
										
												{% if transactions.has_next %}
													<li class="page-item">
														<a class="page-link" href="?page={{ transactions.next_page_number }}">Next</a>
													</li>
													<li class="page-item">
														<a class="page-link" href="?page={{  transactions.paginator.num_pages }}">Last</a>
													</li>
												{% endif %}
											</ul>
										</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Wrapper -->
	{% endblock %}