{% extends 'public/base.html' %}

{% load static %}

{% block title %} About {% endblock %}

{% block content %}
        
        <div class="text-white inner text-capitalize">
            <h6>About</h6>
            <h4>Smart Hospital</h4>
            <h5>Who we are</h5>
        </div>
        <div class="content-2 text-white">
            <h1 class="text-center display-4">Smart Hospital</h1>
            <p class="lead text-tertiary">
                Smart Hospital founded by Dr. Soloman in 2005 and has progressed to establish itself at the forefront of
                health care market and medical services within the private sector in India with a high success rates
                comparable to international standards.
            </p>
            <p class="lead text-tertiary">
                In 2008, PM Dr. Manmohan Singh inaugurated the first expansion of our establishment which resulted in
                doubling our inpatient capacity and the introduction of new divisions such as the open-heart surgery,
                and new clinics such as neurosurgery, neurology, nephrology and infertility clinics, which positioned
                Smart as a pioneer establishment in the private healthcare sector in India.
            </p>
            <p class="lead ">
                Smart provides services to the adult and pediatric populations in India and the surrounding countries in
                the Arabian Gulf. Our services include all types of General Surgeries, Cardio and Thoracic Surgeries,
                Interventional Cardiology, InternalMedicine Sub-Specialties, Medical Radiation and Surgical Oncology,
                PalliativeCare, Dermatology, Family Medicine, Obstetrics / Gynecology, Pediatric, Dental,Chiropractic,
                Emergency Services, Ophthalmology, Operating Theatres, Anesthesia, Adult and Pediatric Intensive Care
                Units, Allergy, Immunology,Respiratory and Sleep Disorders and Hyperbaric Oxygen Therapy. It also has
                the largest neonatal care unit in the Western Province of the Kingdom.
            </p>
        </div>
        <div class="content-1">
            <h1 class="text-center display-4 text-white">Memorable Time Lines</h1>
            <p class="lead text-white">
                2006: The first privatehospital in India to be accredited by the Joint Commission International(JCI);
            </p>
            <p class="lead text-white">
                2008: The first privatehospital in India to be accredited by the Australian Council on Healthcare
                Standards International (ACHSI);
            </p>
            <p class="lead text-white">
                2022: Smart Hospital awarded CBAHI Accreditation for the third time. The certification willbe valid
                until 31st of December, 2025.
            </p>
            <p class="lead text-white">

        </div>
{% endblock %}
