{% extends 'public/base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="text-white inner">
    <h6>Smart Hospital</h6>
    <h4>Contact</h4>
    <h5>Keeps You Connected</h5>
</div>


<div class="container container-fluid mb-5">
    <div class="row row-cols-1 row-cols-md-2 g-4 peek">
        <div class="col-lg-4">
            <div class="card shadow bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header text-success text-center fs-4 fw-bold">
                    Our Mission
                </div>
                <div class="card-body text-white">
                    <p class="card-text px-3">
                        To refine and redefine healthcare standards through consistent quality enhancement
                        endeavors.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header text-success text-center fs-4 fw-bold"> Our Vision</div>
                <div class="card-body text-white">
                    <p class="card-text px-3">To achieve global preference in healthcare through our distinctive
                        services based on excellence.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header text-success text-center fs-4 fw-bold"> Our Values</div>
                <div class="card-body text-white">
                    <p class="card-text px-3">Excellence, Diversity, Integrity, Compassion, Teamwork, Social
                        Commitment.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="text-white mt-5 "> -->

    <div>
        <div class=" content-1 text-white">
            <h4 class="display-3">Contact Us</h4>
            <p class="lead">Have questions or need assistance? Our friendly team is here to help. Reach out to us
                today
                or
                find
                directions to our hospital locations. </p>

            <p class="lead">Emergency? Call +91-9123456789</p>
        </div>

    </div>
    {% endblock %}