{% extends 'public/base.html' %}

{% load static %}

{% block title %} Doctors {% endblock %}

{% block content %}

<div class="text-white inner text-capitalize">
  <h6>Smart Hospital</h6>
  <h4>Doctors</h4>
  <h5>Our Heroes</h5>
</div>
<div class="container container-fluid pb-5">
  <div class="row row-cols-1 row-cols-md-2 g-4 peek">
    <div class="col-lg-3">
      <div class="card shadow bg-dark mb-3">
        <img src="{% static '/images/doctors/doctor-02.jpg' %}" class="card-img-top" alt="doctorname">
        <div class="card-header text-success text-center fs-4 fw-bold">Dr. Sarath Kumar</div>
        <div class="card-body">
          <h5 class="card-title text-secondary">Cardiology</h5>
          <p class="text-success text-truncate">Certified doctor specialized in cardiology.</p>
          <a href="{% url 'pat_search' %}" class="btn btn-primary">Check Schedule</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card shadow bg-dark mb-3">
        <img src="{% static '/images/doctors/doctor-01.jpg' %}" class="card-img-top" alt="doctorname">
        <div class="card-header text-success text-center fs-4 fw-bold">Dr. Rema Kumari</div>
        <div class="card-body">
          <h5 class="card-title text-secondary">Oncology</h5>
          <p class="text-success text-truncate">Certified doctor specialized in oncology.</p>
          <a href="{% url 'pat_search' %}" class="btn btn-primary">Check Schedule</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card shadow bg-dark mb-3">
        <img src="{% static '/images/doctors/doctor-06.jpg' %}" class="card-img-top" alt="doctorname">
        <div class="card-header text-success text-center fs-4 fw-bold">Dr. Prameela Anand</div>
        <div class="card-body">
          <h5 class="card-title text-secondary">Dermatology</h5>
          <p class="text-success text-truncate">Certified doctor specialized in Dermatology.</p>
          <a href="{% url 'pat_search' %}" class="btn btn-primary">Check Schedule</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card shadow bg-dark mb-3">
        <img src="{% static '/images/doctors/doctor-05.jpg' %}" class="card-img-top" alt="doctorname">
        <div class="card-header text-success text-center fs-4 fw-bold">Dr. Muneer</div>
        <div class="card-body">
          <h5 class="card-title text-secondary">Neuro Surgery</h5>
          <p class="text-success text-truncate">Certified doctor specialized in Neuro Surgery.</p>
          <a href="{% url 'pat_search' %}" class="btn btn-primary">Check Schedule</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}