{% extends 'public/base.html' %}

{% load static %}

{% block title %} Services {% endblock %}

{% block content %}

<div class="text-white inner">
    <h6>Smart Hospital</h6>
    <h4>Services</h4>
    <h5>For All Your Needs</h5>
</div>


<div class="container container-fluid pb-5">
    <div class="row row-cols-1 row-cols-md-2 g-4 peek">
        <div class="col-lg-3">
            <div class="card shadow bg-dark mb-3">
                <img src="{% static '/images/services/Item-Image-20230604125322.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title text-success">Health Checkup - Bronze</h5>
                    <p class="text-secondary text-truncate">The Health Checkup Bronze Package is a comprehensive
                        health assessment that includes a range of essential tests. It covers a complete
                        blood count (CBC) to assess overall health, creatinine and uric acid tests to
                        evaluate kidney function, fasting blood sugar (FBS) or random blood sugar (RBS)
                        to check blood glucose levels, blood pressure measurement, electrocardiogram
                        (ECG) to assess heart function and a cholesterol test to evaluate lipid levels.
                    </p>
                    <div class="row">
                        <div class="col">
                            <p class="btn text-white">₹ 1999</p>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow bg-dark mb-3">
                <img src="{% static '/images/services/Item-Image-20230612091956.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title text-success">Health Checkup - Bronze</h5>
                    <p class="text-secondary text-truncate">The Health Checkup Bronze Package is a comprehensive
                        health assessment that includes a range of essential tests. It covers a complete
                        blood count (CBC) to assess overall health, creatinine and uric acid tests to
                        evaluate kidney function, fasting blood sugar (FBS) or random blood sugar (RBS)
                        to check blood glucose levels, blood pressure measurement, electrocardiogram
                        (ECG) to assess heart function and a cholesterol test to evaluate lipid levels.
                    </p>
                    <div class="row">
                        <div class="col">
                            <p class="btn text-white">₹ 1999</p>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow bg-dark mb-3">
                <img src="{% static '/images/services/Item-Image-20230604130425.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title text-success">Health Checkup - Bronze</h5>
                    <p class="text-secondary text-truncate">The Health Checkup Bronze Package is a comprehensive
                        health assessment that includes a range of essential tests. It covers a complete
                        blood count (CBC) to assess overall health, creatinine and uric acid tests to
                        evaluate kidney function, fasting blood sugar (FBS) or random blood sugar (RBS)
                        to check blood glucose levels, blood pressure measurement, electrocardiogram
                        (ECG) to assess heart function and a cholesterol test to evaluate lipid levels.
                    </p>
                    <div class="row">
                        <div class="col">
                            <p class="btn text-white">₹ 1999</p>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card shadow bg-dark mb-3">
                <img src="{% static '/images/services/Item-Image-20230604125701.jpg' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title text-success">Health Checkup - Bronze</h5>
                    <p class="text-secondary text-truncate">The Health Checkup Bronze Package is a comprehensive
                        health assessment that includes a range of essential tests. It covers a complete
                        blood count (CBC) to assess overall health, creatinine and uric acid tests to
                        evaluate kidney function, fasting blood sugar (FBS) or random blood sugar (RBS)
                        to check blood glucose levels, blood pressure measurement, electrocardiogram
                        (ECG) to assess heart function and a cholesterol test to evaluate lipid levels.
                    </p>
                    <div class="row">
                        <div class="col">
                            <p class="btn text-white">₹ 1999</p>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}